.ag-theme-datasheetTable {
    --ag-borders: none;
    --ag-row-border-style: solid;
    --ag-borders-critical: solid 1px;

    --ag-header-background-color: rgb(247, 247, 247);
    --ag-selected-row-background-color: none;

    --ag-header-height: 50%;
    --ag-row-height: 150%;

    --ag-font-size: 12.5px;
    --ag-font-family: Equinor;

    --ag-header-column-separator-display: none;
}

.ag-theme-datasheetTable .ag-header-cell {
    font-size: 11.5px;
    font-weight: bold;
}

.ag-theme-datasheetTable .ag-cell {
    display: flex;
    align-items: center;
}
